@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 200;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 300;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 500;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 600;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 700;
  src: local('SFPro'), url(styles/fonts/SFPro/SFPro-Heavy.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
